fastapi
uvicorn
websockets
requests
python-dotenv
groq
pyaudio
numpy
scipy
sounddevice
twilio
langchain
langchain-community
pypdf
faiss-cpu
sentence-transformers
langchain-text-splitters
torch
torchaudio
